<div id="associativy-administration-graph-settings-container">
        <fieldset>
            <legend>@T("Graph settings")</legend>
            @Display(Model.Settings)
        </fieldset>
</div>