<div id="associativy-administration-manage-graph-container">
    <h2>
        @T("Graph management")
    </h2>

    @using (Html.BeginFormAntiForgeryPost())
    {
        @Display(Model.Child)

        <fieldset class="save-button">
            <button class="primaryAction" type="submit" name="submit.Save" value="submit.Save">@T("Save changes")</button>
        </fieldset>
    }
</div>
