@model Associativy.Administration.Models.Pages.Admin.AssociativyIndexAdhocGraphPart

<div>
    @*Html.RouteLink seems not to work properly...*@
    @Html.Link(T("Create graph").Text, Url.RouteUrl(Model.CreateAdhocGraphRouteValues), new { @class = "button" })
    <span class="hint">@T("Graphs created from the dashboard are easy to create but customization is limited. Full customization can be done from a graph provider.")</span>
</div>