@model Associativy.Administration.Models.Pages.Admin.AssociativyIndexPart
           
@{
    Layout.Title = T("Associativy").ToString();
}

<div>
    @T("There are currently {0} graphs registered.", Model.GraphCount)
</div>