@model Associativy.Administration.Models.Pages.Admin.AssociatvyManageGraphPart
           
@{
    var implicitlyCreatableTypesSelectListItems = new List<SelectListItem> { new SelectListItem { Text = T("None").Text, Value = string.Empty } };
    implicitlyCreatableTypesSelectListItems
        .AddRange(Model.ImplicitlyCreatableContentTypes
            .Select(type => new SelectListItem { Text = type.DisplayName, Value = type.Name }));
}

<ol>
    <li>
        @Html.LabelFor(m => m.GraphSettings.ImplicitlyCreatableContentType, T("Implicitly creatable content type"))
        @Html.DropDownListFor(m => m.GraphSettings.ImplicitlyCreatableContentType, implicitlyCreatableTypesSelectListItems)
        @*@Html.TextBoxFor(m => m.GraphSettings.ImplicitlyCreatableContentType, new { @class = "text textMedium" })*@
        <span class="hint">@T("You'll be able to create new items from the content type specified here through the Node Management Part by specifying a not existing label. Only types that have a part capable of handling implicit creation are listed.")</span>
    </li>
</ol>