@model Associativy.Administration.Models.Pages.Admin.AssociativyManageGraphAdhocGraphPart
           
@if (Model.IsAdhocGraph)
{
    <div>
        <h3>@T("Ad-hoc Graph")</h3>
        @Html.Link(T("Edit graph").Text, Url.ItemEditUrl(Model.AdhocGraph))
    </div>
}